

#banner {
  width: 100%; /* Đảm bảo section bao phủ màn hình */
  overflow: hidden;
}

#banner img {
  width: 100%; /* Hình ảnh full chiều ngang */
  height: auto; /* Đảm bảo giữ tỷ lệ ảnh */
  display: block; /* Xóa khoảng trắng giữa ảnh và phần tử cha */
}
//dịch vụ

h6 {
  font-size: 14px;
  font-weight: bold;
  color: #333;
}

body {
  width: 100%;
}
//thuong
.brand-logos {
  background-color: #ffffff;
}
.brand-logos img {
  max-height: 50px;
  object-fit: contain;
  transition: transform 0.3s ease-in-out;
}
.brand-logos img:hover {
  transform: scale(1.1);
}
/* Đảm bảo các slide trong Slick Carousel có khoảng cách */
.slick-carousel .slick-slide {
  padding: 0 15px; /* Tạo khoảng cách giữa các card */
}

.slick-list {
  margin: 0 -15px; /* Đảm bảo căn giữa đúng với lề */
}

.card {
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

h3.position-relative {
  display: inline-block;

  color: #333; /* Màu chữ */
}

h3.position-relative::before {
  content: "";
  display: block;
  width: 60px; /* Độ dài của đường kẻ */
  height: 3px; /* Độ dày của đường kẻ */
  background-color: #ecb847; /* Màu của đường kẻ */
  position: absolute;
  top: -10px; /* Đặt đường kẻ lên trên */
  left: 0; /* Căn lề trái */
}
.card-text {
  color: #555;
  font-size: 14px;
}

.card-body .btn {
  font-size: 14px;
}
.btn-outline-warning {
  color: #ecb847; /* Màu chữ vàng */
  border: 1px solid #ecb847; /* Viền vàng */
  background-color: transparent; /* Không có nền */
}

.btn-outline-warning:hover {
  background-color: #ecb847; /* Nền vàng khi hover */
  color: #fff; /* Chữ trắng khi hover */
  transition: all 0.3s ease; /* Hiệu ứng mượt mà */
}
.btn-warning .fas {
  font-size: 12px; /* Kích thước icon nhỏ hơn */
}

.container-brand{
  padding: 6rem;
  margin: 0 16rem;
}
.contact-icon img:hover {
  transform: scale(1.1); /* Phóng to khi hover */
  box-shadow: 0px 6px 8px rgba(0, 0, 0, 0.2);
}
